{% extends 'base.html' %}
{% block content %}
	
	<h2>
		<p> Learning is never done without error, and defeat. </p>
		<p>Always turn a negative situation into a positive situation.</p>
		<p>Success in management requires learning as fast as the world is changing.</p>
		<p>Success comes when people act together; failure tends to happen alone.</p>
		<p>Don’t let your circumstances hold you back</p>
		<p>You don’t need to wait for permission to succeed</p>
		<p>Sometimes, success means being the first to fail</p>
		<p>Sometimes, you have to make sacrifices to succeed</p>
		<p>Your mindset is everything</p>
		<p>Only listen to those who are already where you want to be</p>
		<p>There’s no deadline for success</p>
	</h2>
	
{% endblock %}